<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.BookTitle %></title>
</head>
<body>
    <div>
        <h2><%= book.BookTitle%></h2>
        <p>Id : <%= book.id %></p>
        <p>Book Author :  <%= book.Author%></p>
        <p>Price : <%= book.Price%></p>
        <p>Description : <%= book.Description  %></p>  
        <p>Edition-No : <%= book.Edition %></p><br>
        
        
          


    </div>
</body>
</html>